@charset "UTF-8";

/* 사이드바 스타일 */
.sidebar {
    width: 150px;
    background-color: #3D506A;
    color: #000;
    padding: 20px;
}

/* 메뉴 스타일 */
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

/* 드롭다운 메뉴 스타일 */
.dropdown {
    display: none;
    list-style: none;
}

.dropdown li {
    margin-left: 20px;
}

/* 마우스 호버 시 드롭다운 메뉴 표시 */
.sidebar li:hover .dropdown {
    display: block;
}